@{
    ViewBag.Title = "Contact";
}

@section left_card_analytic {
    <div class="shadow p-3 mb-5 bg-white rounded">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fas fa-eye"></i> Lượt xem:</li>
            <li class="list-group-item"><i class="fas fa-comments"></i> Lượt bình luận:</li>
            <li class="list-group-item"><i class="fas fa-heart"></i> Yêu thích:</li>
        </ul>
    </div>
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ITBlog<br />
    HCM, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    0924118451
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://facebook.com/nobody.Uz">Lê Ngọc Sơn</a><br />
    <strong>Instagram:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>