@*Recently Post*@
<div class="shadow p-3 mb-5 bg-white rounded text-center">
    <div class="mx-auto">
        <h5 class="card-title">Bài viết nổi bật</h5>
        <hr />
        <div class="content-post-feature">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-warning" style="width:60%" href="#">Xem</button>
            <hr />
        </div>
        <div class="content-post-feature">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-warning" style="width:60%" href="#">Xem</button>
            <hr />
        </div>
    </div>
</div>
